<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,900" rel="stylesheet">
  </head>
  <header>
    <ul class="menu-header">
      <li class="item"><h1 class="title">Pharms</h1></li>
      <li class="item"><a href="#">Menu</a></li>
      <li class="item"><a href="#">Package</a></li>
      <li class="item"><a href="#">About Us</a></li>
      <li class="item"><a href="#">Contact us</a></li>
      <li class="item"><button class="button">My Account</button></li>
    </ul>

    <section class="main-header">
      <main class="main">
        <h2 class="title">Good food choices are good investments.</h2>
        <p class="text">There is a powerful need for symbolism, and that means the architecture must have something that appeals to the human heart.</p>
        <form action="#" class="form-header">
          <input class='field' type="text" placeholder="Search your food here . . ." name="search" id="search">
          <button class="button" type="submit">Search</button>
        </form>
      </main>
    </section>
  </header>
  <body>
    <h1><%= title %></h1>
    <p>Welcome toooo <%= title %></p>
  </body>
</html>
